

  <div >
  <%= form_with( url: root_path, method: :get) do |form| %>
       <% Source.all.each do |source|  %>
        <div class="form-check form-check-inline">
       <%= form.check_box source.id, include_hidden: false, id: "filter_#{source.name}_hj", checked:  cookies[:filter_and_order_status].include?(source.id), onchange: "this.form.submit();", class: "form-check-input" %>
       <%= form.label source.name, class: "form-check-label"  %>
        </div>
       <% end %>

      <%= select_tag(:date, options_for_select(Article.date_uniq, selected: cookies[:date] ), class:"btn btn-outline-primary float-end", onchange: "this.form.submit();") %>
      <%= select_tag(:sort_option, options_for_select([["Sort by Date High to Low","DESK"], ["Sort by Date Low to High","ASC"]]), class:"btn btn-outline-primary float-end", onchange: "this.form.submit();", selected: cookies[:sort_status] ) %>
      <%= link_to 'Reset filters', reset_path, class:"btn btn-outline-primary my_button float-end" %>
   <% end %>

  </div>
  <div class="border-top my-2"></div>

  <small>
<div class="row bg-light text-dark">
  <div class="col-2">
    <h6> Image </h6>
  </div>
   <div class="col-3">
    <h6> Headline </h6>
  </div>
  <div class="col-4">
    <h6> Snippet </h6>
  </div>
  <div class="col-1">
    <h6> link </h6>
  </div>
  <div class="col-1">
    <h6> Date </h6>
  </div>
  <div class="col-1">
    <h6> Source </h6>
  </div>
  </div>
  <div class="border-top my-2"></div>


  <% @articles.each do |article| %>
  <div class="row table-hover">
    <div class="col-md-2 border-right" >
    <%= image_tag article.image, alt: "Picture should be here", width: "180px", height: "80%" %>
    </div>
     <div class="col-sm-3 col-md-3 border-left" >
      <%= article.headline %>
    </div>
    <div class="col-md-4 border-right">
      <%= article.snippet %>
    </div>
    <div class="col-md-1 border-right" >
      <a href="<%= article.link %>" , target="_blank" >link to source</a>
    </div>
    <div class="col-md-1 border-right">
      <%= article.date.strftime('%F') %>
    </div>
    <div class="col-md-1 border-right">
      <%= article.source.name %>
    </div>
  </div>
    <div class="border-top my-2"></div>
<% end %>

  <%== pagy_bootstrap_nav(@pagy) %>
</small>
