<div class="container">
<div class="d-grid gap-2">
  <%= link_to 'sources', sources_path, class: "btn btn-outline-primary me-2" %>
  <%= link_to 'parse', parse_path, class: "btn btn-outline-primary me-2" %>
  <%= button_to 'Delete all from articles',  delete_all_articles_path, method: :delete, data: { confirm:  'Are you sure?' }, class: "btn btn-outline-primary me-2" %>

  <%= form_with(url: parse_path, method: :get) do |form| %>
    <% Source.all.each do |source|  %>
      <div class="form-check form-check-inline">
      <%= form.check_box source.name, include_hidden: false %>
      <%= form.label source.name  %>
      </div>
    <% end %>
    <div class="d-grid gap-2">
      <button class="btn btn-outline-primary me-2" type="submit">parse select</button>
    </div>
  <% end %>
</div>
</div>
<%= Article.date_uniq.class %>

<%= '_________________' %>


  <%= render 'form', articles: Article.date_uniq %>

<h1>Welcome, this is the home page</h1>

<button type="button"
        class="btn btn-lg btn-danger"
        data-bs-toggle="popover"
        title="Popover title"
        data-bs-content="Amazing content, right ?">
  Click to toggle popover
</button>

